name: Deploy

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: 'true'

      - name: Build container and app binary
        run: |
          docker build -t app -f ./Containerfile.build .
          docker create --name app app
          docker cp app:/yancy/target/x86_64-unknown-linux-gnu/release/yancy yancy

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.DEPLOY_TOKEN }}
          files: |
            yancy
            LICENSE
